.Pokedex {
    background: #eac0be;
    border-radius: 7px;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.Pokedex-header {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.Pokedex-data {
    color: white;
    text-align: start;
    margin-left: 30px;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-loser {
    color: #f27979;
}

.Pokedex-winner {
    color: #4caf50;
}

